/* Button used to open the contact form - fixed at the bottom of the page */

/*#img_link:hover{
  background-color: white;
}*/

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #008CBA;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
}

.container:hover .overlay {
  height: 100%;
}

.text {
  color: white;
  font-size: 25px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
.one_question{
  border-bottom: 1px solid #dedede;
  width: 100%;  
  padding: 7px 2% 7px 5%;
  text-align: left;
}
#Question_8{
  border-bottom:0px;
  border: none;
}
.my_faqs{
  padding:13px;
  font-size: 18px;
  color: #535461;
}
#whole_questions{
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.096);
    border-radius: 10px;
    margin: 1em 0;
    width: 100%;
}
.top{
  height: 30px;
  font-size: 23px;
  padding-bottom: 12px;
  padding-left: 10px;
}
.my_hidden{
  visibility: hidden;
}
#line{
  background: #d60b19;
  width: 24px;
  height: 6px;
}
#line ::after{
  box-sizing: border-box;
}
#about_us_text{
  margin-top: 130px;
  margin-left: 0px;
  padding-right: 20px;
  width: 55%;
  text-align: left;
}
#about_us_image{
  padding: 20px;
  width: 45%;
}
* {
  box-sizing: border-box;
}

body {
  background-color: #f1f1f1;
  /*padding: 20px;*/
}

/* Center website */
.main {
  max-width: 1000px;
  margin: auto;
}

h1 {
  font-size: 50px;
  word-break: break-all;
}

.row {
  margin: 8px -16px;
}

/* Add padding BETWEEN each column */
.row,
.row > .columnGrid {
  padding: 8px;
}

/* Create four equal columns that floats next to each other */
.columnGrid {
  float: left;
  width: 25%;
}

/* Clear floats after rows */ 
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Content */
.content {
  background-color: white;
  padding: 10px;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 900px) {
  .columnGrid {
    width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .columnGrid {
    width: 100%;
  }
}

#b_color{
  color: #d60b19;
}
#LeaderboardH{
 border:2px solid #d60b19; 
 border-spacing: 23;
}
#LeaderboardP{
  border:2px solid #d60b19; 
  border-spacing: 23;  
}
#LeaderboardT{
  border:2px solid #d60b19; 
  border-spacing: 23;  
}
th{
 border: 1px solid #d60b19;
  border-left:none;
  border-right:none;
  background-color:#d60b19 ;
  color:white;
  margin: 10px;

}
.game_name{
  font-size: 30px;
  color: #535461;
}
.column {
  float: left;
  width: 33%;
  padding: 10px;
  height: 300px; 
  column-gap: 40px;
}
.open-button {
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px;
}

/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;;
  top: 30%;
  left: 40%;
  z-index: 9999;
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}

#my_heading_h4{
  font-size: 60px;
}
body{
  font-family: 'Open Sans',sans-serif;
}

.play_game{
  padding: 10px;
  font-size: 15px;
  border: none;
  background-color: #d60b19;
  color: white;
  margin: 40px;
}
#under_line{
  font-family: 'Open Sans',sans-serif;
  font-size: 1.5vw;
  color: #535461;
}
#all_text{
  margin-top: 70px;
  margin-left: 40px;
  width: 40%;
  text-align: left;
}
#my_h1{
  font-family: 'Open Sans', sans-serif;
  font-size: 4vw;
  font-weight: bold;
  color:#535461;
}
.hero_section{
  float: left;
}
#hero_image{
  height: 470px;
  width: 470px;
  margin-top: 40px;
}
.aligning{
  float: left;
  margin: 50px;
}
#my_div{  
  text-align: left;
} 
h2{
  font-size: 70px;
}
#your_div{
  text-align: center;
}
.my_icon{
  height: 250px;
  width: 250px;
}
#topMenu {
    position: fixed;
    background: #CFD8DC;
    width: 100%;
    margin-top: 0px;
    top: 0px;
    z-index: 10;
    height: 7%;
}
.links {
    display: inline;
    padding-left: 33px;
    padding-right: 25px;
    font-family: 'Roboto', sans-serif;
    font-size: 20px
}
.image {
    width: 250px;
    height: 400px;
    border-style: solid;
    border-width: 1px;
    color: #333;
    margin: 0px;
}
h4{
    font-size: 60px;
}
span{
    text-align: center;
}
.text{
    font-size: 30px;
}

.logo_image{
  left:0;
  top: 0;
  height: 50px;
  padding-top: 5px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: white;
  position: fixed;
  z-index: 9999999999999;
}
.topnav {
    background-color: white;
    color: #333;
    position: fixed;
    top: 0;
    padding-top: 0px;
    left:11%;
    width: 75%;
    height: 55px;
    z-index: 9999999999999;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    color: #333;
    float: left;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color:#d60b19;
    color: white;
  }
  #error_text{
    font-size: 15px;
    color: red;
  }
  .soon{
    font-size: 30px;
  }
  body::-webkit-scrollbar {
    width: 0.9em;
  }
   
  body::-webkit-scrollbar-thumb {
    background-color: #d60b19;
  }
  

  #timer{
    font-size: 17px;
    padding: 18px;
    height:55px ;
    color: white;
    text-align: center;
    position:fixed;
    top: 0;
    right: 0px;
    background-color: #d60b19;
    width: 10%;
  }


/*.navbar {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: 0px 20px;
}

.navbar .container,
.navbar .container-fluid,
.navbar .container-lg,
.navbar .container-md,
.navbar .container-sm,
.navbar .container-xl {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.navbar-brand {
    display: inline-block;
    padding-top: 0;
    padding-bottom: 0;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap
}

.navbar-brand:focus,
.navbar-brand:hover {
    text-decoration: none
}

.navbar-nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 20px;
    margin-bottom: 0;
    list-style: none
}

.navbar-nav .nav-link {
    padding-right: 0;
    padding-left: 0
}

.navbar-nav .dropdown-menu {
    position: static;
    float: none
}

.navbar-text {
    display: inline-block;
    padding-top: 0;
    padding-bottom: .5rem
}

.nav-link {
  display: block;
  padding: 0px 0px;
  font-size: 17px
}

.nav-link:focus,
.nav-link:hover {
  text-decoration: none
}

.nav-link.disabled {
  color: #6c757d;
  pointer-events: none;
  cursor: default
}

.navbar-collapse {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-align: center;
    align-items: center
}

.navbar-toggler {
    padding: .25rem .75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: .25rem
}

.navbar-toggler:focus,
.navbar-toggler:hover {
    text-decoration: none
}

.navbar-toggler-icon {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    content: "";
    background: no-repeat center center;
    background-size: 100% 100%
}

  
.navbar-light .navbar-brand {
  color: black;
}

.navbar-light .navbar-brand:focus,
.navbar-light .navbar-brand:hover {
  color: black;
  background-color:white;
}

.navbar-light .navbar-nav .nav-link {
  color: white;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
  color: black;
  background-color: #ddd;
}

.navbar-light .navbar-nav .nav-link.disabled {
  color: rgba(0, 0, 0, .3)
}

.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show > .nav-link {
  background-color: #d60b19;
  color: white;
}

.navbar-light .navbar-toggler {
  color: black;
  border-color: rgba(0, 0, 0, .1)
}

.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.5%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e")
}

.navbar-light .navbar-text {
  color: black;
}

.navbar-light .navbar-text a {
  color: black;
}

.navbar-light .navbar-text a:focus,
.navbar-light .navbar-text a:hover {
  color: black;
}*/

.about-us .hero-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.about-us .hero-text h1 {
  font: normal normal bold 32px/48px Open Sans;
  color: #535461;
  margin-bottom: 8px;
  white-space: nowrap;
}

.about-us .hero-text h2 {
  font: normal normal normal 16px/24px Open Sans;
  color: #535461;
  margin-bottom: 40px;
}

.justify-content-end {
  -ms-flex-pack: end!important;
  justify-content: flex-end!important;
}

@media (min-width: 768px){
  .d-md-flex {
    display: -ms-flexbox!important;
    display: flex!important;
}
}

.d-none {
  display: none!important;
}

.col-6 {
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
}

.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

